<h1>Contactez moi !</h1>
<!-- Message succès -->
<div class="alert alert-success" *ngIf="successMessage"> {{ successMessage }} </div>
<!-- Message erreur -->
<!-- <div *ngIf="errorMessage" class="alert alert-danger" *ngIf="errorMessage"> {{ errorMessage }} </div> -->
<app-error *ngIf=" errorMessage" [errorMessage]="errorMessage"></app-error>

<mat-card *ngIf="!successMessage && !errorMessage" appearance="raised">

  <mat-card-content>
    <form [formGroup]="contactForm" (ngSubmit)="submit()">

      <mat-form-field appearance="outline">
        <mat-label>Nom complet</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">
        <ng-container *ngIf="!loading">
          Envoyer
        </ng-container>
        <ng-container *ngIf="loading">
          <mat-progress-spinner mode="indeterminate" diameter="20" strokeWidth="3"></mat-progress-spinner>
        </ng-container>
      </button>
    </form>
  </mat-card-content>
</mat-card>